[Desktop Entry]
Name=Sticky
GenericName=Sticky
Comment=Simple sticky notes for your desktop
Categories=Office;
Exec=com.github.erkielbrecht.sticky
Icon=com.github.erkielbrecht.sticky
Terminal=false
Type=Application
NoDisplay=false
StartupNotify=true
X-GNOME-Gettext-Domain=com.github.erkielbrecht.sticky
Keywords=Office;Sticky;Notes;