/* Banana class definitions */

.banana-border {
    border-color: #d48e15;
}

.banana-header-border {
    border-top-color: #d48e15;
    border-left-color: #d48e15;
    border-right-color: #d48e15;
}

.banana-background {
    background-color: #fff394;
}

.banana-font {
    color: #ad5f00;
    caret-color: #ad5f00;
}

.banana-font selection:focus {
    color: #ffe16b;
    background: #d48e15;
}

.banana-font selection{
    color: #ffe16b;
    background: #d48e15;
}

.banana-font selection:backdrop {
    color: #ad5f00;
    background: none;
}

.banana-font:focus {
    border: none;
    outline: none;
}

.banana-font:active:hover {
    background-color: #ffe16b;
    border: none;
    outline: none;
}

/* Strawberry class definitions */

.strawberry-border {
    border-color: #a10705;
}

.strawberry-header-border {
    border-top-color: #a10705;
    border-left-color: #a10705;
    border-right-color: #a10705;
}

.strawberry-background {
    background-color: #ff8c82;
}

.strawberry-font {
    color: #7a0000;
    caret-color: #7a0000;
}

.strawberry-font selection:focus {
    color: #ed5353;
    background: #a10705;
}

.strawberry-font selection {
    color: #ed5353;
    background: #a10705;
}

.strawberry-font selection:backdrop {
    color: #7a0000;
    background: none;
}

.strawberry-font:focus {
    border: none;
    outline: none;
}

.strawberry-font:active:hover {
    background-color: #ed5353;
    border: none;
    outline: none;
}

/* Lime class definitions */

.lime-border {
    border-color: #3a9104;
}

.lime-header-border {
    border-top-color: #3a9104;
    border-left-color: #3a9104;
    border-right-color: #3a9104;
}

.lime-background {
    background-color: #d1ff82;
}

.lime-font {
    color: #206b00;
    caret-color: #206b00;
}

.lime-font:focus {
    border: none;
    outline: none;
}

.lime-font selection:focus {
    color: #9bdb4d;
    background: #3a9104;
}

.lime-font selection{
    color: #9bdb4d;
    background: #3a9104;
}

.lime-font selection:backdrop {
    color: #206b00;
    background: none;
}

.lime-font:active:hover {
    background-color: #9bdb4d;
    border: none;
    outline: none;
}

/* Blueberry class definitions */

.blueberry-border {
    border-color: #0d52bf;
}

.blueberry-header-border {
    border-top-color: #0d52bf;
    border-left-color: #0d52bf;
    border-right-color: #0d52bf;
}

.blueberry-background {
    background-color: #8cd5ff;
}

.blueberry-font {
    color: #002e99;
    caret-color: #002e99;
}

.blueberry-font:focus {
    border: none;
    outline: none;
}

.blueberry-font selection:focus {
    color: #64baff;
    background: #0d52bf;
}

.blueberry-font selection {
    color: #64baff;
    background: #0d52bf;
}

.blueberry-font selection:backdrop {
    color: #002e99;
    background: none;
}

.blueberry-font:active:hover {
    background-color: #64baff;
    border: none;
    outline: none;
}

decoration {
    border-radius: 5px;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
    box-shadow: 0 3px 4px rgba(0,0,0,0.25), 0 3px 3px -3px rgba(0,0,0,0.45);
}


window {
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
}

headerbar {
    box-shadow: none;
    border-radius: 5px 5px 0px 0px;

    border-right-width: 1px;
    border-right-style: solid;

    border-left-width: 1px;
    border-left-style: solid;

    border-top-width: 1px;
    border-top-style: solid;
}

popover {
    border-width: 1px;
    border-style: solid;
}

scrolledwindow {
    border: none;
}

textview {
    font-family: Inter,Helvetica,Roboto,sans-serif;
    font-weight: 400;
    font-size: 15px;
}

label {
    font-family: Inter,Helvetica,Roboto,sans-serif;
    font-weight: 400;
    font-size: 15px;
}

button {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 15px;
}
