window {
    background-color: #fff394;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #d48e15;
}

textview {
    background-color: #fff394;
    color: #ad5f00;
    font-family: Inter,Helvetica,Roboto,sans-serif;
    font-weight: 400;
    caret-color: #ad5f00;
}

label {
    background-color: #fff394;
    color: #ad5f00;
    font-family: Inter,Helvetica,Roboto,sans-serif;
    font-weight: 400;
    caret-color: #ad5f00;
}

scrolledwindow {
    border: none;
}

button {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #d48e15;
}

decoration {
    border-radius: 5px;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
}


headerbar {
    background-color: #fff394;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    border-radius: 5px 5px 0px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d48e15;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d48e15;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d48e15;

}
